<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="drugLord" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Drug Lord</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="bower_components/jquery-2.1.4.min/index.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <div class="container" ng-controller="gameController">
        <div class="information col-md-12">
            <h3 class="heading">Information</h3>
        </div>
        
        <div class="market col-md-4">
            <h3 class="heading">Market</h3>
            <ul class="list-group" ng-cloak>
                <li ng-click="selectedDrug($event,drug)" align="center" class="list-group-item" ng-if="start" ng-repeat="drug in drugs"><span class="drug-name">{{drug.name}}</span> <span align="center" >{{drug.price | currency}}</span><span class="badge">{{drug.qty}}</span></li>
            </ul>
        </div>
        
        <div class="action col-md-4">
            <h3 class="heading">Action</h3><br><br>
            <button class="btn btn-primary col-xs-5">Buy >></button>
            <button class="btn btn-primary col-xs-5"> << Sell</button><br><br>
            <button class="btn btn-primary col-xs-5">Dump</button><br><br>
            <button class="btn btn-primary col-xs-5">Places</button>
            <button class="btn btn-primary col-xs-5">Info</button>
        </div>
        
        <div class="pocket col-md-4">
            <h3 class="heading">Your Pocket</h3>
        </div>
        
        <div class="tomorrow col-md-4">
            <h3 class="heading">Tomorrow</h3>
            <button class="btn btn-primary">Stay Here</button>
            <button class="btn btn-primary">Fly Away</button>
        </div>
        
        <div class="status col-md-4">
            <h3 class="heading">Status</h3>
        </div>
        
        <div class="game col-md-4">
            <h3 class="heading">Game</h3>
            <button class="btn btn-success" ng-click="start = startNewGame()">New Game</button>
            <button class="btn btn-danger">Quit</button>
        </div>
        
    </div>

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="modules/market.js"></script>
</body>
</html>
